
<div class="container mt-3">

  <div id="new-burger-row" class="row">
    <div class="col-12 text-center">
      <div id="head-wrapper" class="pb-5">
        <h1>Welcome to Good Burger, Home of the Good Burger</h1>
        <h1>May I Get Your Order?</h1>
        <img src="/img/burger.png" class="img-fluid" id="burger-img" alt="Responsive image">
     </div>
    </div>
  </div>

  
  <div class="container-fluid row">
  
    <div class="container leftContainer col-md-5">
      <ol>
        {{#each burgerss}} {{#unless devoured}} {{> burger/burger-block devoured=true}} {{/unless}} {{/each}}
      </ol>
    </div>
  
    <div class="container rightContainer col-md-5">
      <ol>
        {{#each burgerss}} {{#if devoured}} {{> burger/burger-block devoured=false}} {{/if}} {{/each}}
      </ol>
    </div>
  
    <div class="container col-md-12">
      <h2>Add a Good Burger</h2>
      <form class="create-form">
  
        <div class="form-group">
          <input type="text" id="ca" name="name">
        </div>
  
        <button type="submit">Submit</button>
        <p>Click the Submit Button to add your delicious burger on the screen!</p? </form>
    </div>
  
  </div>